.snap-content {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
	width: auto;
}


.no-outline{
	outline: 0px !important;
	outline-offset: 0px !important;
}

.navbar{
	margin-bottom: 0 !important;
}

.navbar{
	.page-title{
		display: inline-block;
		padding-top: 10px;
		font-weight: bold;
		font-size: 18px;
		color: #898989;
		width: 100%;
		text-align: center;	
	}
	.home-button{
		margin:5px;
		position: absolute;
		top: 0; 
		left: 0;
	}
	.back-button {
		font-size: 40px;
		position: absolute;
		right: 15px; 
		top: 5px
	}
}

	

.page-content {
	position: relative;
}

.sub-nav{
	background: #464646;
	width: 100%;
	overflow: hidden;
	display: block;
	ul {
		list-style-type: none;
		li {
			float: left;
			a {
				display: block;
				color: #fff;
				padding: 10px 15px;
				border-left: 1px solid #666666;
			}
			a:hover{
				text-decoration: none;;
			}
			a:active{
				text-decoration: none;
			}
		}
	}

}